* {
    margin: 0;
    box-sizing: border-box;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search-bar input {
    outline: none;
    width: 400px;
    padding: 0.5em 1em;
    border: 1px solid black;
}

.search-bar input:focus {
    border-color: lime;
    box-shadow: 0 2px 4px gray;
}

.search-bar select {
    outline: none;
    padding: 0.5em 1em;
    margin-right: 20px;
}

.search-bar option {
    padding: 1em 0;
}

.search-bar button {
    outline: none;
    padding: 0.5em 1em;
    background-color: rgb(253, 253, 124);
    border: 2px solid rgb(133, 56, 56);
    cursor: pointer;
}

.search-bar button:hover {
    box-shadow: 0 0 3px gray;
    background-color: rgb(196, 196, 108);
    color: white;
}

/* SEARCH RESULTS */

.search-results {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 20px;
    padding-top: 0px;
    border: solid 3px black;
    width: 900px;
}

.search-results__item {
    padding: 20px 0;
    border-bottom: solid 1px rgb(112, 104, 104);
    display: grid;
    grid-template: auto 40px 40px 40px / 275px auto;
    align-items: center;
}

.search-results__item img {
    width: 250px;
    grid-area: 1 / 1 / span 4 / span 1
}

.search-results__item h1 {
    font-size: 1.55em;
    text-decoration: underline;
    padding-bottom: 20px;
}

.search-results__item h2 {
    font-size: 1.1em;
}

.search-results__item a {
    justify-self: end;
    align-self: flex-end;
    text-decoration: none;
    color: white;
    padding: 0.5em 0.75em;
    background-color: rgb(4, 156, 4);
}